<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "description" content="Trying to be as detail as possible">
    <title>Buliding Nav</title>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="style.css" rel = "stylesheet">
</head>
<body>
    <header>
    <div class = "container">
        <div class = "main-heading">
            <h1>Living the social life</h1>
            <p class = "sub-title">A blog exploring minamalism life</p>
        </div>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a class = "current-page" href="aboutme.html">About me</a></li>
            <li><a href="recentposts.html">Recent posts</a></li>
        </ul>
    </nav>
</div>
    </header>
<main>
    <div class = "article-container container">
        <div class = "sidebar-about-me cmn-border main-border main-article-aboutme">
            <!-- <h3 class = "aboutme-title">ABOUT ME</h3>  -->
            <img class = "sidebar-img aboutme-img" src="img/about-me.jpg" alt="about-me">
            <h3 class = "aboutme-maititle">My name is John and living the simple life saved my life</h3>
            <p><strong>I used to be a pack rat.</strong>I had so many things that I thought that I loved, but the truth was I couldn't even appreciate any of it because there was too much.</p>
            <p>Things were terrible. I had a job that I hated, a home that I didn't want to live in, and I couldn't hold a relationship.</p>
            <h3 class = aboutme-secondry-title >How I turned things around</h3>
            <p><strong>I was on the verge of a breakdown when I got rid of everything.</strong>I literally put 90% of my possessions in the garbage, sold my place and moved into a smaller apartment, and I quit my job.</p>
            <p>It wasn't easy at all, but everything around me was in such a bad place, I didn't know what else to do. And it worked.</p>
            <h3 class = aboutme-secondry-title>Now I live the simple life</h3>
            <p>Now that I'm living a simple life, things are so much better. I'm less stressed, enjoy life and work more, and I have more free time to enjoy.</p>
            <p>With how much it turned my life around,<strong>I felt like I had no choice but to start sharing how I did it,</strong>how others can benefit from living a simple life as well, which is why I started this site!</p>
            </div>
        <aside>
            
            <div class = "sidebar-recent-posts cmn-border ">
                <h3 class = "sidebar-recentpost-title">RECENT POSTS</h3> 
                <div class = sidebar-more-recentposts>
                    <img class = "sidebar-img" src="img/food.jpg" alt="food">
                    <h4 class = sidebarmore-title>Keeping cooking simple</h4>
                </div>
                
                <div class = sidebar-more-recentposts>
                    <img class = "sidebar-img" src="img/work.jpg" alt="work">
                    <h4 class = sidebarmore-title>Simplicity and work</h4>
                </div>

                <div class = sidebar-more-recentposts>
                    <img class = "sidebar-img" src="img/deco.jpg" alt="deco">
                    <h4 class = sidebarmore-title>Simple decorations</h4>
                </div>
            </div>
        </aside>
    </div>
</main>
    <footer>
        <strong class = "footer-title">Living the Simple Life<strong>
        <p class = "copyright">Copyright 2021</p>
    </footer>
</body>
</html>