<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "description" content="Trying to be as detail as possible">
    <title>Buliding Nav</title>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="style.css" rel = "stylesheet">
</head>
<body>
    <header>
    <div class = "container">
        <div class = "main-heading">
            <h1>Living the social life</h1>
            <p class = "sub-title">A blog exploring minamalism life</p>
        </div>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="aboutme.html">About me</a></li>
            <li><a class = "current-page" href="recentposts.html">Recent posts</a></li>
        </ul>
    </nav>
</div>
    </header>
<main>
    <div class = "article-container container">
        <div class = "main-rec-container">
            <div class = "rec-container">

                <div class = "rec-section-part recentposts-bottommargin">
                    <div class = "recent-primary-part">
                    <img class = "recent-article-img" src="img/life.jpg" alt="life">
                        <p class = article-status>July 19, 2019 | 3 comments</p>
                    </div>
                    <div class = "recent-secondary-part">
                        <h3 class = "mainarticle-title">Finding simplicity in life</h3>
                        <p><strong class = "main-atricle-strong">Life can get complicated really quickly,</strong> but it doesn't have to be! There are many ways to simplify your life,<a class = "mainarticle-inlinelink" href="#" > a few of which we've explored in the past.</a>This week we're taking a bit of a approach though, in how you can find simplicity in the life you already living.</p>
                        <p class = "main-article-more-info"><a href="#" class = "article-more-info">CONTINUE READING</a></p>
                    </div>
                </div>


                <div class = "rec-section-part recentposts-bottommargin">
                    <div class = "recent-primary-part">
                        <img class = "recent-article-img" src="img/food.jpg" alt="food">
                        <p class = article-status>July 19, 2019 | 3 comments</p>
                    </div>
                    <div class = "recent-secondary-part">
                        <h3 class = "recentarticle-title">How to keep your cooking simple</h3>
                        <p>Food is a very important part of everyone's life. If you want to be healthy, you have to eat healthy. One of the easiest ways to do that is to keep your cooking nice and simple.</p>
                        <p class = "main-article-more-info"><a href="#" class = "article-more-info">CONTINUE READING</a></p>
                    </div>
                </div>

                <div class = "rec-section-part recentposts-bottommargin">
                    <div class = "recent-primary-part">
                        <img class = "recent-article-img" src="img/work.jpg" alt="work">
                        <p class = article-status>July 12, 2019 | 3 comments</p>
                    </div>
                    <div class = "recent-secondary-part">
                        <h3 class = "recentarticle-title">Simplicity and work</h3>
                        <p>Work is often a major source of stress. People get frustrated, it ruins their relationship with others and it leads to burnout. By keeping your work life as simple as possible, it will help balance everything out.

                        </p>
                        <p class = "main-article-more-info"><a href="#" class = "article-more-info">CONTINUE READING</a></p>
                    </div>
                </div>

                <div class = "rec-section-part recentposts-bottommargin">
                    <div class = "recent-primary-part">
                        <img class = "recent-article-img" src="img/deco.jpg" alt="deco">
                        <p class = article-status>July 3, 2019 | 3 comments</p>
                    </div>
                    <div class = "recent-secondary-part">
                        <h3 class = "recentarticle-title">Simple decorations</h3>
                        <p>A home isn't a home until you've decorated a little. People either don't decorate, or they go overboard and it doesn't have the impact they were hoping for. Staying simple will help draw the eye where you want it to and make things pop like never before.</p>
                        <p class = "main-article-more-info"><a href="#" class = "article-more-info">CONTINUE READING</a></p>
                    </div>
                </div>
            </div>
        </div>

        <aside>
            <div class = "sidebar-about-me cmn-border">
                <h3 class = "aboutme-title">ABOUT ME</h3> 
                <img class = "sidebar-img" src="img/about-me.jpg" alt="about-me">
                <p>I find life better, and I'm happier, when things are nice and simple.</p>
            </div>
            <div class = "sidebar-recent-posts cmn-border">
                <h3 class = "sidebar-recentpost-title">RECENT POSTS</h3> 
                <div class = sidebar-more-recentposts>
                    <img class = "sidebar-img" src="img/food.jpg" alt="food">
                    <h4 class = sidebarmore-title>Keeping cooking simple</h4>
                </div>
                
                <div class = sidebar-more-recentposts>
                    <img class = "sidebar-img" src="img/work.jpg" alt="work">
                    <h4 class = sidebarmore-title>Simplicity and work</h4>
                </div>

                <div class = sidebar-more-recentposts>
                    <img class = "sidebar-img" src="img/deco.jpg" alt="deco">
                    <h4 class = sidebarmore-title>Simple decorations</h4>
                </div>
            </div>
        </aside>
    </div>
</main>
    <footer>
        <strong class = "footer-title">Living the Simple Life<strong>
        <p class = "copyright">Copyright 2021</p>
    </footer>
</body>
</html>